<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <title th:text="${title}">任务申请</title>

</head>
<body>
<section layout:fragment="content">
    <div class="panel-body" style="padding-bottom:0px;">
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group" style="margin-top:15px">
                        <label class="control-label col-sm-1" for="taskName">任务名称</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="taskName">
                        </div>
                        <label class="control-label col-sm-1" for="applyStatus">审核状态</label>
                        <div class="col-sm-3">
                            <select id="applyStatus" class="selectpicker form-control" data-live-search="false">
                                <option value>请选择</option>
                                <option value='0'>待审核</option>
                                <option value='1'>已通过</option>
                                <option value='2'>已撤回</option>
                            </select>
                        </div>
                        <label class="control-label col-sm-1" for="releaseStatus">发布状态</label>
                        <div class="col-sm-3">
                            <select id="releaseStatus" class="selectpicker form-control" data-live-search="false">
                                <option value>请选择</option>
                                <option value='0'>待发布</option>
                                <option value='1'>已发布</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:15px">
                        <div class="col-sm-12" style="text-align:right;">
                            <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="toolbar" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-default" data-toggle="modal" data-target="#addModel">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
            </button>
            <button id="btn_detail" type="button" class="btn btn-default" data-toggle="modal"
                    data-target="#addModel">
                <span class="glyphicon glyphicon-search"></span>查看
            </button>
            <button id="btn_release" type="button" class="btn btn-default" data-toggle="modal"
                    data-target="#releaseModel">
                <span class="glyphicon glyphicon-record" aria-hidden="true"></span>发布
            </button>
        </div>
        <table id="tb_tasks"></table>
    </div>
    <script th:src="@{/js/task-config/task-apply.js}"></script>
</section>
</body>

</html>
<!--新增模态框-->
<div data-backdrop="static" class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">任务明细</h4>
            </div>
            <div class="modal-body">
                <form id="formTaskApply">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="row-fluid">
                                    <div class="span8">
                                        <div class="form-group">
                                            <label for="taskId" class="col-sm-2 control-label">任务Id</label>
                                            <div class="col-lg-3 col-sm-3">
                                                <input type="text" class="form-control typeahead" id="taskId"
                                                       name="taskId"
                                                       placeholder="请输入任务Id查询" autocomplete="off"
                                                       data-provide="typeahead">
                                            </div><!-- /input-group -->
                                            <label for="taskNameRel" class="col-sm-2 control-label">任务名称</label>
                                            <div class="col-lg-3 col-sm-3">
                                                <input autocomplete="off" type="text" class="form-control" id="taskNameRel"
                                                       name="name"
                                                       placeholder="请输入名称">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="btn-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid" style="margin-top: 50px">
                            <div class="span12">
                                <div class="row-fluid">
                                    <div class="span8">
                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label">创建人</label>
                                            <div class="col-sm-3">
                                                <input readonly type="text" class="form-control" id="username"
                                                       name="developUser"
                                                       placeholder="创建人">
                                            </div>
                                            <label for="createDate" class="col-sm-2 control-label">创建日期</label>
                                            <div class="col-sm-3">
                                                <input readonly type="text" class="form-control" id="createDate"
                                                       name="createDate"
                                                       placeholder="创建日期">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="btn-group">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row-fluid" style="margin-top: 50px">
                            <div class="span12">
                                <div class="row-fluid">
                                    <div class="span8">
                                        <div class="form-group">
                                            <label for="taskType" class="col-sm-2 control-label">任务类型</label>
                                            <div class="col-sm-3">
                                                <input readonly type="text" class="form-control"
                                                       id="taskType"
                                                       placeholder="任务类型">
                                                <input readonly type="hidden" class="form-control"
                                                       name="taskType" id="taskTypeI"
                                                       placeholder="任务类型">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <table id="tb_jobDataSource"></table>
            </div>
            <div class="modal-footer">
                <button type="button" id="shutDown" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="save" class="btn btn-primary">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!--发布模态框-->
<div style="overflow-y: auto;" data-backdrop="static" class="modal fade" id="releaseModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="releaseModelLabel">任务明细</h4>
            </div>
            <div class="modal-body">
                <form id="releaseModelForm">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="row-fluid">
                                    <div class="span8">
                                        <div class="form-group">
                                            <label for="taskId" class="col-sm-2 control-label">任务Id</label>
                                            <div class="col-lg-3 col-sm-3">
                                                <input type="text" readonly class="form-control" id="release-taskId"
                                                       name="taskId"
                                                       placeholder="请输入任务Id查询">
                                            </div><!-- /.col-lg-6 -->
                                            <label for="taskNameRel" class="col-sm-2 control-label">任务名称</label>
                                            <div class="col-lg-3 col-sm-3">
                                                <input type="text" readonly class="form-control"
                                                       id="release-taskNameRel"
                                                       name="name"
                                                       placeholder="请输入名称">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="btn-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid" style="margin-top: 50px">
                            <div class="span12">
                                <div class="row-fluid">
                                    <div class="span8">
                                        <div class="form-group">
                                            <label for="username" class="col-sm-2 control-label">创建人</label>
                                            <div class="col-sm-3">
                                                <input readonly type="text" class="form-control" id="release-username"
                                                       name="developUser"
                                                       placeholder="创建人">
                                            </div>
                                            <label for="createDate" class="col-sm-2 control-label">创建日期</label>
                                            <div class="col-sm-3">
                                                <input readonly type="text" class="form-control" id="release-createDate"
                                                       name="createDate"
                                                       placeholder="创建日期">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="btn-group">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row-fluid" style="margin-top: 50px">
                            <div class="span12">
                                <div class="row-fluid">
                                    <div class="span8">
                                        <div class="form-group">
                                            <label for="taskType" class="col-sm-2 control-label">任务类型</label>
                                            <div class="col-sm-3">
                                                <input readonly type="text" class="form-control"
                                                       id="release-taskType"
                                                       placeholder="任务类型">
                                                <input readonly type="hidden" class="form-control"
                                                       name="taskType" id="release-taskTypeI"
                                                       placeholder="任务类型">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <table id="tb_jobDataSource_release"></table>
            </div>
            <div class="modal-footer">
                <button type="button" id="" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!--<button type="button" id="release-ave" class="btn btn-primary">保存</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
